.news-detail-page {
  background-color: var(--card-background);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-small);
  padding: var(--spacing-large);
}

/* Share Section Styling */
.share-container {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  text-align: center;
}

.share-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
}

.share-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.copy-link-btn {
  background-color: rgb(46, 126, 255);
  color: white;
  border: none;
  font-size: 14px;
  padding: 10px 14px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.copy-link-btn:hover {
  background-color: #0056b3;
}

/* Error reload button */
.reload-btn {
  margin-top: 1rem;
  padding: 8px 14px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.reload-btn:hover {
  background-color: #0056b3;
}

.custom-x-icon {
  width: 40px;
  height: 40px;
  background-color: #000; /* Warna khas X */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s;
}

.custom-x-icon:hover {
  transform: scale(1.1);
  background-color: #222; /* efek hover */
}
